<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219932845674-69ik9dvd5v7ufjh6af1frnhkogsjk7i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219932845674-69ik9dvd5v7ufjh6af1frnhkogsjk7i1</string>
	<key>API_KEY</key>
	<string></string>
	<key>GCM_SENDER_ID</key>
	<string>219932845674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS132020AL</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-aae42</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-aae42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:219932845674:ios:fd1d6aabb95c22178ecc13</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-aae42.firebaseio.com</string>
</dict>
</plist>
